<div class="welcom-navbar">
    <div class="buttn-l">
        <a href="/"> <img class="nav-logo" src="Assets/nav-logo-transperent.png" alt=""></a> 
        <a href="/logout"  class="button-red">logout</a>
    </div>
</div>