<div class="welcom-navbar">
    <div class="buttn-l">
        <a href="/"> <img class="nav-logo" src="Assets/nav-logo-transperent.png" alt=""></a> 
        <a href="/login" class="button-yl">Login</a>
    </div>
</div>