<%- include('header'); -%>

<div class="bg-continer">
  <%- include('navbar'); -%>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 text-center mt-5">
        <h2 class="tagline mt-5">User/password not valid</h2>
        <p class="abt-line">
          Could you please try logging in again? We'd appreciate it if you could
          provide another attempt
        </p>
        <img  class="img-page" src="Assets/pixel-cells-3974187_1280.png" alt="Page notfound. .. !404" >
        <h5 class="newws-line">click! back to home</h5>
        <a class="button-gn" href="/">Home</a>
      </div>
    </div>
  </div>
</div>
<%- include('footer'); -%>
