<%- include('header'); -%>
<div class="containers">
  <div class="img-continer">
    <img
      class="img"
      src="Assets/dlxmedia-hu-l7idyRTQePY-unsplash.jpg"
      alt=""
    />
    <%- include('navbar'); -%>
    <div class="info-continer">
      <div class="text-cont">
        <img
          class="inImg"
          src="Assets/tasktrove-high-resolution-logo-transparent.png"
          alt=""
        />
        <h2 class="tagline">
          Streamline your daily tasks to bring more ease and simplicity into
          your life.
        </h2>
        <p class="abt-line">
          Are you feeling overwhelmed by your to-do list? Look no
          further!TaskTrove is here to help you manage your tasks efficiently,
          whether you're working solo or with a team.
        </p>
        <h5 class="newws-line">New User? click below</h5>
        <a class="button-gn" href="/register">register</a>
      </div>
    </div>
  </div>
</div>
<%- include('footer'); -%>
